# vscode
.vscode

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# Don't include the Obsidian test vault plugin settings.
# They should be uploaded to GitHub releases instead.
build

# Exclude sourcemaps
*.map

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Ignore Obsidian workspaces file
test/.obsidian/workspace.json
